*{
	margin:0;
	padding:0;
}
#header{
	height:51px;
	background-image:url(../images/header.jpg);
	background-repeat:repeat-x
}
h1{
        font-family:Times New Roman;
	color:#FFFFFF
}
#leftsidebar{
	border-color:black;
	background-image:url(../images/back.jpg);
	background-repeat:repeat;
	width:200px;
	float:left
}
#main{
	float:center
}
#rightsidebar{
	border-color:black;
	background-image:url(../images/back.jpg);
	background-repeat:repeat;
	width:200px;
	float:right
}


