<{ if $show }>
	<p class="rightitle"><{ $ctitle }></p>
	<table action="../comment/" method="POST">
		<textarea name="comment" id="comment" cols="30" rows="4"></textarea>
		<input type="submit" name="submit" id="addComment" value="提交评论" />
	</table>
	<div class="comments">
		<ul>
			<{ if $iscomments }>
			<{ loop $comments $item }>
				<li class="rightext">
					<div class="comment">
						<em><{ $item["alias"] }></em> : <p><{ $item["content"] }></p>
					</div>
				</li>
			<{ /loop }>
			<{ /if }>
		</ul>
	</div>
<{ /if }>

<{ if $add }>
	<li>
		<div class="comment">
			<em><{ $comments["alias"] }>:</em><p><{ $comments["content"] }></p>
		</div>
	</li>
<{ /if }>

