<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html profile="http://gmpg.org/xfn/11">
	<head>
		<title>
			Cybery Reader
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

		<script type="text/javascript" src="../static/jquery.js"></script>
		<link rel="stylesheet" href="../static/css/style.css" type="text/css" />
		<script type="text/javascript">
			$(document).ready(function(){
			    <{ if $isitem }>
			    <{ loop $items $item}>
				$("h3.flip<{ $item["guid"] }>").click(function(){
					$("#panel<{ $item["guid"] }>").slideToggle("slow");
				});
				$("img.star<{ $item["guid"] }>").click(function(){
					 $("img.star<{ $item["guid"] }>").attr("src","../static/images/starfull.png");
				});
				<{ /loop }>
				<{ /if }>
				$("h2.flip").click(function(){
					$("#panall").slideToggle("slow");
				});
				$("img.myfeed").click(function(){

                                        $("img.myfeed").attr("src","../static/images/butplus.gif");
					$("ul.myfeed").slideToggle("slow");
				});
				$("img.hotfeed").click(function(){
                                        $("img.hotfeed").attr("src","../static/images/butplus.gif");
					$("ul.hotfeed").slideToggle("slow");
				});
				$("p.remind").click(function(){
					$("#message").hide();
					$("#messagetext").show();
				});
				$("img.delete").click(function(){
					$("#message").hide();
					$("#messagetext").hide();
				});
			});
		</script>
		<{include ('ga.html')}>
	</head>

	<body>

	<div id="header">
		<div class="useraction">
			<ul>
			    <li><a href="../subscribe/" >添加订阅</a></li>
			    <li><a href="../logout/" >退出</a></li>
			</ul>
		</div>
		<img src="../static/images/logo.png" class="logo" />
		<img src="../static/images/see.png" class="logonote"/>
	</div>
    <{ if $ismsg}>
	<div id="message">
		<img src="../static/images/butexit.gif" class="delete" /><p class="remind"><{ $msg }></p>
	</div>

	<div id="messagetext">
		<img src="../static/images/butexit.gif" class="delete" /><p class="message"><{ $msg }></p>
	</div>
    <{ /if }>

	<div id="context">

	<div id="leftsidebar">
	<ul>

		<li><img src="../static/images/butsub.gif" class="myfeed" />我的Feed
		    <ul class="myfeed">
		    <{ if $ismyfeed }>
		    <{ loop $myfeed $row }>
		    <li class="choose"><a href="?url=<{ $row["url"] }>"><{ $row["title"] }><{ if $row["unread"] }>(<{ $row["unread"] }>)<{ /if }></a></li>
		    <{ /loop }>
		    <{ /if }>
         	</ul>
		</li> 

		<li><img src="../static/images/butsub.gif" class="hotfeed" />热门Feed
		<ul class="hotfeed">
		    <{ if $isfavfeed }>
		    <{ loop $favfeed $row }>
		    <li class="choose"><a href="?url=<{ $row["url"] }>"><{ $row["title"] }></a></li>
		    <{ /loop }>
		    <{ /if }>
         	</ul>
		</li>
	</ul>
	</div>

	<div id="rightsidebar">

		<p class="rightitle"><{ $ctitle }></p>
		<{ if $iscomments}>
		<ul>
		<{ loop $comments $comment}>
			<li class="rightext"><a href="" class="rightext"><{ $comment["alias"] }></a><{ $comment["content"] }></li>
	    <{ /loop }>
		</ul>
		<{ /if }>
	</div>

	<div id="main">
	    <h2 class="flip"><p><{ $feedname }></p></h2>
	    <div id="panall">
	    <{ if $isitem }>
	    <{ loop $items $item}>
	        <div>
		    <h3 class="flip flip<{ $item["guid"] }>">
			    <img src="../static/images/starblank.png" class="star star<{ $item["guid"] }>" />
			    <{ $item["title"] }>
		    </h3>
	            <div id="panel<{ $item["guid"] }>" class="panel" style="display:none;">
	            <{ if $item["content"]}>
	                <{ $item["content"] }>
	            <{ else }>
	                <{ $item["description"] }>
	            <{ /if }>
	            </div>
            </div>
        <{ /loop }>
        <{ /if }>
        </div>
    </div>	
    </div>
	
       <div id="footer">
		@ 2011 CopyRight 
	</div>
	</body>
</html>
