<div id="posts" class="<{ $feedurl }>">	
<h2 class="flip"><p><{ $feedname }></p></h2>
<div id="panall">
<{ if $isitem }>
    <{ loop $items $item }>
        <div class="post">
            <{ if $item["fav"] }>
			    <img src="../static/images/starfull.png" class="star" />
            <{ else }>
			    <img src="../static/images/starblank.png" class="star" />
            <{ /if }>
            <h3 class="flip <{ if !$item["read"] }>unread<{ /if }>" id="<{ $item["guid"] }>">
                <{ $item["title"] }>
            </h3>
            <div class="panel" style="display:none;">
				<div class="content">
					<{ if $item["content"] }>
						<{ $item["content"] }>
					<{ else }>
						<{ $item["description"] }>
					<{ /if }>
				</div>
            </div>
        </div>
    <{ /loop }>
<{ /if }>
</div>
</div>
