<div id="posts">	
<h2 class="flip"><p><{ $feedname }></p></h2>
<div id="panall">
<{ if $isitem }>
    <{ loop $items $item }>
        <div>
            <h3 class="flip" id="<{ $item["guid"] }>">
                <img src="../static/images/starblank.png" class="star" />
                <{ $item["title"] }>
            </h3>
            <div id="panel" class="panel" style="display:none;">
                <{ if $item["content"] }>
                    <{ $item["content"] }>
                <{ else }>
                    <{ $item["description"] }>
                <{ /if }>
            </div>
        </div>
    <{ /loop }>
<{ /if }>
</div>
</div>
<script type="text/javascript">
	$("h3.flip").click(function(){
		$(this).next("div.panel").slideToggle("slow");
		var $guid = $(this).attr("id");
		$.post("../comment/", { 
			guid : $guid 
		}, function(data, textStatus){
			$("div#rightsidebar").empty();
			$("div#rightsidebar").append(data);
		});
	});
	$("img.star").click(function(){
		$(this).attr("src","../static/images/starfull.png");
	});
</script>

