<div id="posts">	
<h2 class="flip"><p><{ $feedname }></p></h2>
<div id="panall">
<{ if $isitem }>
    <{ loop $items $item }>
        <div class="post">
			<img src="../static/images/starblank.png" class="star" />
            <h3 class="flip" id="<{ $item["guid"] }>">
                <{ $item["title"] }>
            </h3>
            <div class="panel" style="display:none;">
				<div class="content">
					<{ if $item["content"] }>
						<{ $item["content"] }>
					<{ else }>
						<{ $item["description"] }>
					<{ /if }>
				</div>
            </div>
        </div>
    <{ /loop }>
<{ /if }>
</div>
</div>