<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html profile="http://gmpg.org/xfn/11">
<head>
	<title>Register--Cybery Reader</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<script type="text/javascript" src="../../static/jquery.js"></script>
	<script type="text/javascript" src="../../static/jquery-validate/jquery.validate.js"></script>
	<link rel="stylesheet" href="../../static/css/style_r.css" type="text/css" />
	<script type="text/javascript">
		$(document).ready(function(){
			$("p.remind").click(function(){
				$("#message").hide();
				$("#messagetext").show();
			});
			$("img.delete").click(function(){
				$("#message").hide();
				$("#messagetext").hide();
			});
		});
	</script>
	<{include ('ga.html')}>
</head>

<body>
	<div id="header">
		<div class="useraction">
		<ul>
		    <li><a href="../../login/" >登录</a></li>
		</ul>
		</div>
		<img src="../../static/images/logo.png" class="logo" />
		<img src="../../static/images/see.png" class="logonote"/>
	</div>
	<{if $ismsg}>
	<div id="message">
		<img src="../../static/images/butexit.gif" class="delete" /><p class="remind"><{$msg}></p>
	</div>
	
	<div id="messagetext">
		<img src="../../static/images/butexit.gif" class="delete" /><p class="message"><{$msg}></p>
	</div>
	<{/if}>
	<div id="context">
			<img src="../../static/images/step_2.png" class="step" />
			<form method="post">
			<div>
				<input id="username" class="name" type="text" name="username" value="请输入您的用户名"  onMouseOver="this.focus()" onMouseOut="if(this.value=='')this.value='请输入您的用户名';" onFocus="this.select()" onClick="if(this.value=='请输入您的用户名')this.value=''">
			</div>
			<div>
				<input id="password" class="password" type="text" name="password" value="请输入您的密码"  onMouseOver="this.focus()" onMouseOut="if(this.value=='')this.value='请输入您的密码';" onFocus="this.select()" onClick="if(this.value=='请输入您的密码')this.value=''">
			</div>
			<div>
				<input id="password2" class="password" type="text" name="password2" value="请确认您的密码"  onMouseOver="this.focus()" onMouseOut="if(this.value=='')this.value='请确认您的密码';" onFocus="this.select()" onClick="if(this.value=='请确认您的密码')this.value=''">
			</div>
			<!--添加提交按钮-->
			<input type="image" name = "step2" src="../../static/images/next.png" class = "command_1"/>
			<!--添加结束-->
			</form>
	</div>
</body>

<script type="text/javascript">
//	$("form :input.required").each(function(){
//		var $required = $("<strong class='high'> * </strong>");
//		$(this).parent().append($required);	
//	})

	$('form :input').blur(function(){		//为表单元素添加失去焦点事件
		var $parent = $(this).parent();		
		$parent.find(".formtips").remove();	//删除以前的提示元素
		if($(this).is('#username')) {
		if(this.value=="" || this.value.length < 4){
			var errorMsg = '输入至少4位用户名.';
			$parent.append('<span class="formtips onError">'+errorMsg+'</span>');
			}else{
				var okMsg='输入正确，请继续.';
				$parent.append('<span class="formtips onSuccess">'+okMsg+'</span>');
			}
		}

		if($(this).is('#password')) {		
			if(this.value=="" || this.value.length < 1){
				var errorMsg = '密码不能为空.';
					$parent.append('<span class="formtips onError">'+errorMsg+'</span>');
				}else{
					var okMsg='输入正确，请继续.';
					$parent.append('<span class="formtips onSuccess">'+okMsg+'</span>');
				}
			}	
		if($(this).is('#password2')) {	
			if(this.value == "" || $(this).val() != $("#password").val()){		//恩 对，就是这么判断
				var errorMsg = '密码不能为空或不匹配.';
				$parent.append('<span class="formtips onError">'+errorMsg+'</span>');
			}else{
				var okMsg='输入正确，请继续';
				$parent.append('<span class="formtips onSuccess">'+okMsg+'</span>');
			}
		}
	})

</script>

</html>
