<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html profile="http://gmpg.org/xfn/11">
	<head>
		<title>
			Subscribe--Cybery Reader
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<script type="text/javascript" src="../static/jquery.js" ></script>
		<link rel="stylesheet" href="../static/css/style_r.css" type="text/css" />
		<script type="text/javascript">
			$(document).ready(function(){
				$("p.remind").click(function(){
					$("#message").hide();
					$("#messagetext").show();
				});
				$("img.delete").click(function(){
					$("#message").hide();
					$("#messagetext").hide();
				});
			});
		</script>
		<{include ('ga.html')}>
	</head>

	<body>
		<div id="header">
			<div class="useraction">
			<ul>
			    <li><a href="../home/" >返回主页</a></li>
			    <li><a href="../logout/" >退出</a></li>
			</ul>
		    </div>
			<img src="../static/images/logo.png" class="logo" />
			<img src="../static/images/see.png" class="logonote"/>
		</div>
        <{ if $ismsg }>
		<div id="message">
			<img src="../static/images/butexit.gif" class="delete" /><p class="remind"><{ $msg }></p>
		</div>
		
		<div id="messagetext">
			<img src="../static/images/butexit.gif" class="delete" /><p class="message"><{ $msg }></p>
		</div>
		<{ /if }>
		<div id="context">
			<img src="../static/images/subscribetitle.png" class="title" />
			<form action="" method="POST" >
			    <input class="address" type="text" name="address" value="请输入Feed地址"  onMouseOver="this.focus()" onMouseOut="if(this.value=='')this.value='请输入Feed地址';" onFocus="this.select()" onClick="if(this.value=='请输入Feed地址')this.value=''" />
				<input type="image" value="" class="command_1" src="../static/images/subscribe.png" />
			</form>
		</div>

	</body>
</html>
