*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	font-size: 12px;
}
img{
	border:none;
}
a img{
	border:none;
}
a{
	color: black;
	text-decoration: none;
}
a:link, a:visited{
	text-decoration: none;
}
a.rightext{
	color: #87CEEB;
}
a:hover{
	color: #00FFFF;
	text-decoration: none;
}
p{
	margin: 5px;
}
p.remind,p.message{
	margin-top: -15px;
	margin-left: 40px;
}
h2,h3{
	margin: 7px 0 7px 0;
}
h2 p{
	font-size: 150%;
}
ul{
	margin: 5px;
}
li{
	margin-left: 15px;
	list-style-type:none;
	margin-bottom: 5px;
}
li.choose{
	border-color: transparent;
	border-top-style:solid;
	border-top-width:thin;
	border-bottom-style:solid;
	border-bottom-width:thin;
	margin-left: 30px;
}
li.rightext{
	margin-left: 10px;
}
li.choose:hover{
	background-color:white;
	border-top-color:gray;
	border-top-style:solid;
	border-top-width:thin;
	border-bottom-color:gray;
	border-bottom-style:solid;
	border-bottom-width:thin;
}
img.logo{
	margin-top: 5px;
	margin-left: 30px;
        height: 75%;
}
img.logonote{
        margin-top: 21px;
}
img.delete{
	margin-top: 8px;
	margin-left: 15px;
	margin-right: 5px;
}
img.star{
	float:left;
        margin-top: 5px;
}
#header{
	clear:both;
	height: 55px;
	background-image:url(images/header.jpg);
	background-repeat:repeat-x;
	position:relative;
	z-index:1;
}
#message{
	clear:both;
        background-image:url(images/message.png);
	background-repeat: repeat-x;	
	height: 35px;
	border-color:gray;
	border-style:solid;
	border-width:thin;
	border-bottom-style:none;
	position:relative;
	z-index:1;
}
#messagetext{
	clear:both;
	margin-top: 0px;
        background-image:url(images/message.png);
	background-repeat: repeat-x;
	height: 35px;
	display:none;
	border-top-color: black;
	border-style: solid;
	border-width: thin;
	border-bottom-style: none;
	position:relative;
	z-index:1;
}
#leftsidebar{
	border-color:black;
	background-image:url(images/back.jpg);
	background-repeat:repeat;
	width: 250px;
	height: 590px;
	float:left;
	border-color:gray;
	border-style:solid;
	border-width:thin;
	border-top-style:none;
	overflow: auto;
	position:relative;
	z-index:1;
}
#main{
	background-image:url(images/background.png);
	float:center
	width: 100%;
	height: 590px;
	overflow: auto;
	position:relative;
	z-index:1;
}
#rightsidebar{
	border-color:black;
	background-image:url(images/back.jpg);
	background-repeat:repeat;
	width: 300px;
	height: 590px;
	float:right;
	border-color:gray;
	border-style:solid;
	border-width:thin;
	border-top-style:none;
	overflow: auto;
	position:relative;
	z-index:1;
}
#footer{
	clear: both;
	margin: 0;
	padding: 0;
	height: 29px;
	background-image:url(images/header.jpg);
	background-repeat:repeat-x;
	text-align:center;
	color: white;
}
#comment{
	float: left;
	margin-left: 10px;
}
#addComment{
	float: right;
	margin-top: 10px;
	margin-right: 60px;
}
.flip
{
	margin: 7px 0 7px 0;
	color: black;
}
.flip p{
	font-size: 150%;
	color: black;

}
.panel
{
	display:none;

}
.panel p{
	padding:8px 0;
}
.panel p img{
	background:#eee;
	padding:3px;
	margin:0 15px 15px 0;
}
.panall{
	display:none;

}
.useraction ul, .useraction li
{
	list-style-type: none;
        display:inline;
	margin-left:5px;
}
.useraction a
{
        text-decoration: none;
}
.useraction a:link, .useraction a:visited
{
        color:#fff;
}
.useraction a:hover
{
        color:#00FFFF;
}
div.useraction
{
        float: right;
        margin: 5px 10px 0px 0px;
}
div.feedform{
        display: none;
        float: right;
        height: 120px;
        width: 240px;
        position: absolute;
        z-index: 10;
        background-image:url(images/back.jpg);
        background-repeat:repeat;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        right: 120px;
}
input.address{
        float: left;
        height: 30px;
        width: 180px;
        margin: 25px 10px 10px 10px;
}
input.command_s{
        float: right;
        height: 25px;
        width: 80px;
        margin: 10px 10px 5px 10px;
}
input.exit{
        float: right;
        height: 15px;
        width: 15px;
        margin: 5px 5px 0 0;
}
#num{
        border-bottom-color: black;
        border-bottom-style: solid;
        border-bottom-width: 1px;
}
